figure {
    position: relative;
    width: calc(50% - 2rem);
    overflow: hidden;
    max-width: max-content;
    float: left;
    
    img { 
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%)
    }
    
    figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 1rem;
      font-weight: bold;
      color: white;
      background-color: rgba(0,0,0,.5);   
      
      a {
        float: right;
        font-style: italic;
        font-weight: normal;
        color: #ddd;
      }
      
    }
  
  }