figure {
    position: relative;
    width: calc(50% - 2rem);
    overflow: hidden;
    max-width: max-content;
    float: left;
    
    img { 
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%)
    }
    
    figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 1rem;
      font-weight: bold;
      color: white;
      background-color: rgba(0,0,0,.5);   
      
      a {
        float: right;
        font-style: italic;
        font-weight: normal;
        color: #ddd;
      }
      
    }
  
  }

  body {
    padding: 20px;
 }
 .card-box{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
   grid-auto-rows: 1fr;
   justify-items: center;
   gap: 15px;
   padding: 15px 30px;
   margin-top: 20px;
   border-radius: 10px;
 }
 .card {
   padding: 10px;
   border: 1px solid #ccc;
   margin: 5px 0;
   border-radius: 5px;
   max-width:350px;
 }
 .pagination {
   display: flex;
   gap: 5px;
   width:fit-content;
 }
 .pagination button {
   cursor: pointer;
 }
 .page-num{
   color:#1e3a8a;
 }
 .pagination .page-num.active {
     background: #0f172b52;
     width: 35px;
     height: 35px;
     text-align: center;
     color: #fff;
     border:1px solid #334155;
 }
 .controls {
   width:fit-content;
 }
 .pg-btn{
   width:35px;
   height:35px;
 }
 .first{
   background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%231e3a8a' xmlns='http://www.w3.org/2000/svg' transform='matrix(-1,1.2246467991473532e-16,-1.2246467991473532e-16,-1,0,0)'%3E%3Cpath d='M12.293 7.293a1 1 0 0 1 1.414 0l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414-1.414L15.586 12l-3.293-3.293a1 1 0 0 1 0-1.414Z'%3E%3C/path%3E%3Cpath d='M6.293 7.293a1 1 0 0 1 1.414 0l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414-1.414L9.586 12 6.293 8.707a1 1 0 0 1 0-1.414Z'%3E%3C/path%3E%3C/svg%3E");
 }
 .prev{
   background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%231e3a8a' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.707 7.293a1 1 0 0 1 0 1.414L11.414 12l3.293 3.293a1 1 0 0 1-1.414 1.414l-4-4a1 1 0 0 1 0-1.414l4-4a1 1 0 0 1 1.414 0Z'%3E%3C/path%3E%3C/svg%3E");
 }
 .next{
   background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%231e3a8a' xmlns='http://www.w3.org/2000/svg' transform='matrix(-1,1.2246467991473532e-16,-1.2246467991473532e-16,-1,0,0)'%3E%3Cpath d='M14.707 7.293a1 1 0 0 1 0 1.414L11.414 12l3.293 3.293a1 1 0 0 1-1.414 1.414l-4-4a1 1 0 0 1 0-1.414l4-4a1 1 0 0 1 1.414 0Z'%3E%3C/path%3E%3C/svg%3E");
 }
 .last{
   background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%231e3a8a' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.293 7.293a1 1 0 0 1 1.414 0l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414-1.414L15.586 12l-3.293-3.293a1 1 0 0 1 0-1.414Z'%3E%3C/path%3E%3Cpath d='M6.293 7.293a1 1 0 0 1 1.414 0l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414-1.414L9.586 12 6.293 8.707a1 1 0 0 1 0-1.414Z'%3E%3C/path%3E%3C/svg%3E");
 }
 
 @media(max-width:575px){
   .pagination{
     width:100%;
   }
 }

 body {
  background-color: #ffffff;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.book {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 500px;
  height: 390px;
  background-image: url(https://tim-school.com/codepen/book/book.png);
  background-size: 100% 100%;
}

.carousel {
  position: fixed;
  top: 40px;
  left: 70px;
  width: 180px;
  height: 270px;
  z-index: 33;
}

.carousel div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.carousel div.active {
  display: block;
}

.carousel1 {
  position: absolute;
  top: 40px;
  left: 270px;
  width: 180px;
  height: 270px;
  z-index: 33;
}

.carousel1 div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.carousel1 div.active1 {
  display: block;
}

.page {
  position: absolute;
  height: 25px;
  left: 0;
  right: 0;
  bottom: 5px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
  position: absolute;
  height: 55px;
  left: 0;
  right: 0;
  top: 5px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.picture {
  position: absolute;
  height: 200px;
  left: 10px;
  right: 10px;
  top: 5px;
  text-align: center;
}

.info {
  position: absolute;
  bottom: 55px;
  left: 0;
  right: 0;
  top: 5px;
  text-align: center;
font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.end {
  position: absolute;
  height: 75px;
  left: 0;
  right: 0;
  top: 35px;
  text-align: center;
  font-size: 36px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    





